<%- include('partials/header'); -%>


<div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="card" data-aos="fade-up">
            <div class="card-body">
              <div class="aboutus-wrapper">
                <h1 class="mt-5">
                 Contests
                </h1>
                <br>
                <!-- <div class="row">
                  <div class="col-md-6 col-sm-12">
       <h1>OS Vote</h1>
       <p>Vote for your fav OS to develop on</p>
       <form id="vote-form">
         <p> <input type="radio" name="option" id="windows" value="Windows">
        <label for="windows">Windows</label>
        </p>
        <p> <input type="radio" name="option" id="macos" value="Macos">
          <label for="macos">Macos</label>
          </p>
          <p> <input type="radio" name="option" id="linux" value="Linux">
            <label for="linux">Linux</label>
            </p>
            <p> <input type="radio" name="option" id="other" value="Other">
              <label for="other">Something Else</label>
            </p>
            <input type="submit" value="vote" class="btn btn-primary btn-sm">
       </form>
      </div>  -->
       <div class="col-md-6 col-sm-12">
       <div id="chartContainer" style="height: 300px; width: 100% ;"></div>
      </div>
      </div> 
    </div>
  </div>
</div>
</div>
    </div>
  </div>
</div>
<!-- container-scroller ends -->


<%- include('partials/footer'); -%>