<%- include('partials/home-header'); -%>


<div class="content-wrapper">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-xl-9 stretch-card grid-margin">
          <div class="card">
            <div class="card-body">
              <div class="row">
              <div class="col-lg-6">
                <h2>Top Headlines</h2>
              </div>
              <div class="col-lg-6" style="text-align: right;">
                <form action="/search" method="POST">
                  <div class="form-group">
              <input style="border-top: 0px; border-left: 0px; border-right: 0px; width: 150px;" type="text" name="searchTopic" placeholder="Search for News ...">
              <button style="border: 0px; background-color: white;" type="submit"><i class="fas fa-search"></i></button>
                  </div>
              </form>
            </div>
          </div>
              <br>
                <div class="row">
                    <div id="newsResults"></div>
                  </div>
                  <div id="loader">
                    <div class="progress">
                      <div class="indeterminate"></div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 stretch-card grid-margin" style="height:500px !important;">
          <div class="card bg-dark text-white">
            <div class="card-body" style="padding: 15px !important;">
              <h2>Latest news</h2>
              <div
                class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between">
                <div class="pr-3">
                  <h5>Virus Kills Member Of Advising Iran’s Supreme</h5>
                  <div class="fs-12">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </div>
                </div>
                <div class="rotate-img">
                  <img
                    src="/images/dashboard/home_1.jpg"
                    alt="thumb"
                    class="img-fluid img-lg"
                  />
                </div>
              </div>

              <div
                class="d-flex border-bottom-blue pb-4 pt-4 align-items-center justify-content-between"
              >
                <div class="pr-3">
                  <h5>Virus Kills Member Of Advising Iran’s Supreme</h5>
                  <div class="fs-12">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </div>
                </div>
                <div class="rotate-img">
                  <img
                    src="/images/dashboard/home_2.jpg"
                    alt="thumb"
                    class="img-fluid img-lg"
                  />
                </div>
              </div>

              <div
                class="d-flex pt-4 align-items-center justify-content-between"
              >
                <div class="pr-3">
                  <h5>Virus Kills Member Of Advising Iran’s Supreme</h5>
                  <div class="fs-12">
                    <span class="mr-2">Photo </span>10 Minutes ago
                  </div>
                </div>
                <div class="rotate-img">
                  <img
                    src="/images/dashboard/home_3.jpg"
                    alt="thumb"
                    class="img-fluid img-lg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main-panel ends -->
  <!-- container-scroller ends -->

  

  <%- include('partials/home-footer'); -%>


  <script>
    $(document).ready(function () {
      // let url = "https://cors-anywhere.herokuapp.com/https://newsapi.org/v2/top-headlines?q=coronavirus&country=in&apiKey=6738b05fb4be48c18ec8df8ea83ef99c";
      let url = "https://cors-anywhere.herokuapp.com/https://gnews.io/api/v3/search?q=" + '<%= topics %>' + "&country=in&token=cc08a9e477183dd7c28f46a32f4e4e80";
      // let url = "https://cors-anywhere.herokuapp.com/https://gnews.io/api/v3/search?q=" + '<%= topics %>' + "&country=in&token=f2c4736bfe67ed31f50aef98e7dd208e";
    
      $.ajax({
        url: url,
        method: "GET",
        dataType: "JSON",
        beforeSend: function () {
          $(".progress").show();
        },
        complete: function () {
          $(".progress").hide();
        },
        success: function (newsdata) {
          let output = "";
          let latestNews = newsdata.articles;
          for (var i in latestNews) {
            output += `
            <div class="row">
            <div class="col-sm-4 grid-margin">
              <div class="position-relative">
                <div class="rotate-img">
                  <img
                  src="${latestNews[i].image}"
                  alt="${latestNews[i].title}"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="col-sm-8  grid-margin">
              <h3 style="color: #fa1616" class="mb-2 font-weight-500" title="${latestNews[i].title}">${latestNews[i].title}</h3>
              <div class="fs-13 mb-2">
              <p><b>Source</b>: ${latestNews[i].source.name} &nbsp <b>Published</b>: ${latestNews[i].publishedAt} </p>
              </div>
              <p class="mb-0">
              ${latestNews[i].description}
              <a href="${latestNews[i].url}" target="_blank" class="btn">Read More</a>
              </p>
            </div>
          </div>
            `;
          }
          if (output !== "") {
            $("#newsResults").html(output);
          }
        },
        error: function () {
          let errorMsg = `<div class="errorMsg center">Some error occured</div>`;
          $("#newsResults").html(errorMsg);
        }
      })
    });
    </script>