<%- include('partials/header'); -%>



<div class="container" style="padding: 20px;">
  <h1> Update Topic</h1>

  <form action="/topic" method="POST">
      <div class="form-group">
        <label>Top-Headlines Topic</label>
        <input type="text" class="form-control" name="headlinesTitle" required>
      </div>
      <button  class="btn btn-primary" type="submit" name="button">Change</button>
    </form>
</div>




<%- include('partials/footer'); -%>